@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* Remove the default autofill background color */
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s; /* Prevent background color from changing */
  }

  /* For Firefox */
  input:-moz-placeholder-shown,
  textarea:-moz-placeholder-shown {
    background-color: transparent !important;
  }

}
